

ion-content {
 
    background-image: url('../../assets/img/imgfundo.jpg'); 
 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
   padding: 0px;
  
    background-size: cover;

}
ion-page.PAGENAME > ion-content{
    background-color: transparent;
  }

  